@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

		body{
		  font-size: 20px;
		  font-family: 'Work Sans', sans-serif;
		  color: #1c1b1b;
		  font-weight: 300;
		  text-align: center;
		  background-color: #ffffff;
		}
		h1{
		  font-weight: 300;
		  margin: 0px;
		  padding: 10px;
		  font-size: 20px;
		  background-color: #690a48;
		  color: #fff;
		}
		.question{
		  font-size: 30px;
		  margin-bottom: 10px;
		}
		.answers {
		  margin-bottom: 25px;
		  text-align: left;
		  display: inline-block;
		}
		.answers label{
		  display: block;
		  margin-bottom: 20px;
		}
		button{
		  font-family: 'Work Sans', sans-serif;
			font-size: 22px;
			/*background-color: #279;*/
			background-color: #229959;
			color: #fff;
			border: 1px;
			border-radius: 16px;
			padding: 20px;
			cursor: pointer;
			margin-bottom: 20px;
		}
		button:hover{
			/*background-color: #38a;*/
			background-color: #81aa33;
		}





		.slide{
		  position: absolute;
		  left: 0px;
		  top: 0px;
		  width: 100%;
		  z-index: 1;
		  opacity: 0;
		  transition: opacity 0.5s;
		}
		.active-slide{
		  opacity: 1;
		  z-index: 2;
		}
		.quiz-container{
		  position: relative;
		  height: 200px;
		  margin-top: 40px;
		}
		
		footer{
			font-size: 70%; color: #fd0000; margin-top: 2em; border-top: 1px solid;
		}