body {
    font-size: 1.25em;
    text-align: center;
    background-color: #ffffff;
}

h3 {
    /*box-shadow: 3px 3px 10px 10px rgba(52, 4, 4, 0.79);*/
    background-color: #ffffff;
    margin-top: 0px;
}

.presetBtn {
    font-size: 100%;
    
}

.presetBtn:hover {
    font-size: 120%;
    background-color: rgba(220, 20, 60, 0.35);
}

.presetBtnBox {
    border: 1px solid red;
    border-radius: 8px;
    padding: 0.2em;
    background-color: antiquewhite;
    box-shadow: 3px 3px 10px 10px rgba(52, 4, 4, 0.79);
}

.writeYourOwn {
    font-size: 90%;
    color: #011504;
    font-weight: bolder;
}

.setNum {
    box-shadow: 3px 3px 10px 10px rgba(52, 4, 4, 0.79);
    margin: 0.5em;
    padding: 0px;
    font-size: 150%;
    font-weight: bolder;
    width: 3em;
    height: 12%;
    text-align: center;
    color: #de701b;
    margin-top: 0px;
}

#secondsID {
    font-size: 150%;
    font-weight: bolder;
}

.btn {
    font-size: 110%;
    padding: 0.2em;
    margin: 0.02em;
    box-shadow: 3px 3px 10px 10px rgba(52, 4, 4, 0.79);
}

#timeDurationMsg {
    color: #241103;
    border: 2px solid #e5257d;
    margin-top: 0px;
    border-radius: 8px;
    background-color: #00ffff;
}

#progressBar {
     width: 15em; height: 1.3em; 
}

#d {
    border: 5px groove #855531;
    border-radius: 8px;
    width: 30%;
    height: 2.25em;
    padding: 0.1em;
    font-weight: bolder;
    background-color: rgb(255, 255, 0);
    margin-bottom: 1em;
}

footer {
    font-size: 85%;
    box-shadow: 3px 3px 6px 6px #413636;
    margin-top: 1.75em;
    position: fixed;
    bottom: 1em;
    right: 10%;
    left: 10%;
    background-color: #f2c193;
    border: 2px solid white;
    border-radius: 8px;
}