body{
    margin: .5em auto;
    display: block; text-align: center; background: #A7383E;
    font-size: 20px;
}
#ui{
    font-size: 110%;
    margin: 0px 0px;
    border: 0.25em ridge;
}            
.hide{
    display: none;
}            
#d1{
    background-color: #c6bbbb;
    border: 0.1em solid;
}            
#d2, footer{
    color: #FBA7AB;
}           
