body{
			font-size: 20px; text-align: center; /*width="480px"; height="640px";*/
			background-color: #e6caa8;
		}
		#quiz_box{ 
			border:1px solid red; width:90%; margin: auto; 
			border-radius: 16px; padding: 10px;
			background-color: white;
			box-shadow: 10px 10px 8px #888888;
		}
		#q{font-size:1.5em; color:#6a076a;}
		#bangla_q{font-size:1em; color:#07af27;}
		#ui{font-size:1.15em; width:50%; color:blue;}
		#gobtn{
			font-size:1.2em; background-color: #008CBA; color:white;border-radius: 12px;
			box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
			width:20%;
		}
		
		
		#result_box{font-size:1.5em; width="90%"; }
		#refresh{
			font-size:1.15em; margin-top:1.25em; margin-bottom:1.25em;
			box-shadow: 10px 10px 8px #888888;
		}
		#paragraph{
			border:1px solid white;  margin: auto;
			border-radius: 16px; padding: 1px;
			background-color: white;
			box-shadow: 10px 10px 8px #888888;
		}
		
		footer{
			border:1px solid red; width:90%; margin: auto;
			border-radius: 16px; padding: 20px;
			background-color: white;
			box-shadow: 10px 10px 8px #888888;
		}