/*Made by Soumen Chakraborty 18-April-2018 this is tempV
        Only for Educational, Research and strictly Non-commercial Purpose.*/
body {
    font-size: 22px;
    text-align: center;
    display: block;
    background-color: rgba(80, 13, 96, 0.25);
    margin: .5em;
}

h4 {
    box-shadow: 5px 10px #888888; margin: 0.25em 0px;
}

datalist{
    size: 10px;
}

p {
    font-size: 82%;
    font-weight: bolder;
    color: rgba(190, 20, 20, 0.95);
    margin: 0.175em;
}  

.ActiveVoiceInput {
    border: 1px solid red;
    border-radius: 10px;
    padding: 5px 0.1em;
    box-shadow: 5px 10px #888888;
}

.active,
.passive {
    text-align: center;
    width: 5em;
}

.active {
    font-size: 85%;
}

.passive {
    font-size: 90%;
}

#punc1, #punc2 {
    width: 0.48em;
}

#by {
    width: 2em;
}

.3rdFormInput { /*problem here, cannot resize this textbox*/
    font-size: 150%;
}

.askUser {
    font-size: 85%;border: 1px solid red; border-radius: 10px; padding: 0.3em; box-shadow: 5px 10px #888888;
}

.rad {
    text-align: left;
}

legend {
    text-align: center; margin-top: .1em;
}

.btn {
    margin: 0.1em;padding: auto 0.02em; font-size: .9em;
}

.passiveHeading {
    border: 0px; padding: 0px; margin: 0px;
}

.passiveDisplay {
    border: 1px solid red; border-radius: 10px; padding: 0.2em; box-shadow: 5px 10px #888888;
}

footer {
    font-size: 63%; margin-top: 1em;  border-top: 0.1em solid grey;  padding-top: 0.1em; color: #1212a7;
}