body{
	font-size: 20px;
	text-align: center; 
	margin: auto;
	width: 480px; height: auto;
}
#topic{
	border: 3px solid red;
	border-radius: 15px;
	background-color: darkolivegreen;
	color: white;
	padding: 5px;
	font-size: 120%;
}
#quiz_board{
	border: 3px solid red;
	border-radius: 15px;
	padding: 5px;
	margin: 1%;
	height: 6em;
}
#index{color:red; font-size:70%;}
#question{
	font-size: 125%;
	color: blue;
}
#option_board{
	text-align: left;
	margin:1%;
	height: 7em;
	border: 3px solid red;
	border-radius: 15px;
	padding: 2%; padding-bottom: 6%; padding-left: 1%; padding-right: 1%;
	background-color: burlywood;
}
#a,#b,#c{
	clear: both;
	display: block;
	border: 3px solid grey; 
	border-radius: 15px;
	padding: 1%;
	background-color: white;
	box-shadow:5px 5px 15px grey; 
}
#a,#b,#c:hover{cursor:pointer;}

#bar2,#progressBar{
	margin-top: 2%;
	box-shadow:15px 5px 25px grey; 
}

/*#btn_board{
	border: 1px solid red;
	border-radius: 15px;
	padding: 10px;
	background-color: cornsilk;
}*/

/*#bbtn{margin-left:10%;margin-right:10%;}*/
/*
.nav{			
  padding: 5px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #f72a2a; #4CAF50;
  border: 2px solid #2575f5;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.nav:hover {background-color: #5ba8a3}
.nav:active{
	background-color: #f26262;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
*/

/*#message_box{
	margin: auto;	
	width: 460px; height: 60px;
}*/
/*#check{
	font-size: 135%;
}*/
footer{
	font-size: 82%; color: crimson;
}
