*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   /* height: 100vh;*/
   /* width: 100vh;*/
   /* display: flex;
    align-items: center; // CROSS AXIS
    justify-content: center; // MA
    */
    
    font-size: 20px; background-color: #ffffff; border: 1px solid green; padding: 25px;
            border-radius: 16px; /*text-align: center;*/box-shadow: 10px 10px 5px grey;
        }
        /*p{background-color: #efebeb; padding: 10px; border: 1px solid black;border-radius: 16px;
            box-shadow: 10px 10px 5px grey;
        }*/
         p.whitebox{background-color: #efebeb; padding: 10px; border: 1px solid black;border-radius: 16px;
            box-shadow: 10px 10px 5px grey;
        }
        .q{position: relative;
            font-style: italic; font-family: serif; font-weight: bolder;border-radius: 16px;
        border: 1px solid red; padding: 10px; margin: 10px; background-color: #8bffff;
            box-shadow: 10px 10px 5px grey; text-align: left;
        }
        .img{ width: 100%; }
        .key{color: red; background-color: white; font-weight: bolder;}

        

.combodiv{
    background-color: #efebeb; padding: 10px; border: 1px solid black;border-radius: 16px;
            box-shadow: 10px 10px 5px grey;
}

.code{
    font-weight: bolder;
    background-color: #f2fff3;
    border-width:5px;  
    border-style:inset;
    padding: 1px;
}

.quiz{
    border-width:5px;  
    border-style:inset;
    padding: 10px;
    background-color: #fad0c1;
}

.flex-container {
    display: flex;
    max-width: 800px;
   /* overflow: hidden;*/
    align-items: stretch;
  /*flex-direction: column;
  flex-direction: row;
  flex-wrap: wrap;*/
    /* flex-flow: row wrap; *//*The flex-flow property is a shorthand property for setting both the flex-direction and flex-wrap properties.*/
   /* justify-content: center;*/
   /* justify-content: flex-end;*/
   /*justify-content: space-around;*/
   
    /*align-items: stretch;
    align-items: center;*/
    /*line-height: 25px;*/
  /*font-size: 20px;*/
}

.flex-container > div {
  display: flex;
 /* width: 200px; height: 400px;*/
 margin-top: 15px;
 margin-bottom: 25px;
   /*text-align: center;  */
  /*text-align: center;*/
  /*line-height: 75px;*/
  /*font-size: 30px;*/
}
.furniture_img{
    /*flex: 0 0 40%;*/
    display: flex;
    flex: 1;
}
.furniture_desc{
    /*width: 100%;*/
    display: flex;
    flex-direction: column;
    /*flex: 0 0 60%;*/
    flex: 1;
    border: 4px solid grey;
    border-radius: 16px;
    padding: 4%;
    box-shadow: 10px 10px 5px grey;
    background-color: #fff7ea;
}




.tt{
    clear: both;
    color: green;  font-weight: bolder; font-style: italic;
                font-family: monospace; border: 2px solid red; padding: 2px;
            border-radius: 8px; background-color: yellow;
}