/* Text styles */
.xr_s0 {font-family:'Arial Black';font-weight:900;font-style:normal;font-size:50.8px;text-decoration:none;font-feature-settings:'kern' 0,'liga' 0,'clig' 0,'calt' 0;color:#0003FF;background-color:Transparent;letter-spacing:0em;}
.xr_s1 {font-family:'Arial Black';font-weight:900;font-style:normal;font-size:24.11px;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0;color:#BF00BD;background-color:Transparent;letter-spacing:0em;}
