/*<style>*/
        body{ font-size: 16px;}
        table, th, td {
            border: 1px solid black;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
        }
        th,td {
        text-align: center;
        }
        table {
            border-spacing: 5px;
        }
        .click{font-weight: bolder;}
        .click:hover{
            font-size: 100%; color: red;
            cursor: pointer;
        }        
        .kinds{font-weight: 900; font-size: 115%;}
        #displayPanel{
            text-align: center;
            border: 2px solid red;
            border-radius: 30px; 
            box-shadow:2px 10px 15px 5px grey;  
        }
        footer{
            margin-top: 3%;
            text-align: center;
            color: crimson;
            border: 3px solid red;
            border-radius: 30px; 
            box-shadow:2px 5px 5px 5px grey; 
            background-color: #cfffef;
        }
   /* </style>*/