body{
    color: #000000;
    background-color: #e6f7ff;
    font-family: sans-serif;
    border: 10px red double;
    border-radius: 16px;
    padding: 10px;
    font-size: 22px;
}

.header{    
    border-radius: 16px;
    padding: 10px;    
}
h1.devnag{ 
    background-color: #fff3e6;    
    padding: 10px; 
    color: #8a1eb2; 
    border-width:8px;  
    border-style:solid;
    border-radius: 16px;
    border-color: brown;
    box-shadow:0px 10px 10px grey;
    
}
h1 b{
    font-family: monospace;
}

.lts, .lttself{
    font-family: monospace;
    font-weight: bolder;
    font
}

i{
    font-style:normal;
    color: red;
    font-weight: bolder;
    font-family: monospace;
}

b{
    font-style:normal;
    color: #9d00ff;
    font-weight: bolder;
    font-family: monospace;
}

.z{
    background-color: white;
    padding: 5px;
    border: 1px solid red;
    border-radius: 5px;
}

p.trans,p.example,p.question{
    padding: 12px;
    border-width:1px;  
    border-style:solid;
    border-radius: 5px;
    padding: 10px;
    /*box-shadow:1px 10px 10px grey; */
}


p.trans{
    background-color: #e1e0ff;
    border-color: #1400ff;
    color: crimson
    
}
p.example{
    background-color: #c7ffda;
    border-color: #013917;
}

p.question{
    background-color: #fffcfb;
    border-color: #1e2103;
    border-radius: 16px;
}
 
table.prevnext{
    border: 5px solid purple;
    border-collapse: collapse;
    font-family: monospace;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
}
th, td {
  border: 2px solid green;
  padding: 10px; 
}

tr{
    background-color: white;
    
}



tr:hover {background-color: #f5f5f5;}
