body{font-family: sans-serif; }
        input{font-size:100%;}
		.subjclass, .predclass {padding:3px}
        .subjclass{color: red; border: 1px solid grey;  background-color: yellow;}
        .predclass{color: blue;border: 1px solid #87b168; background-color: #affcbb;}
        div{border: 1px solid black; margin-left: 10px; margin-right: auto;
            text-align: left; display: block; padding:10px; border-radius: 16px;}
        
        #First,#Second,div{border-radius: 16px; /*width: 80px;*/}
        #First{background-color: yellow;}
        #Second{background-color: #affcbb;}        