/*<style>*/
body{font-size: 20px; display: block;text-align: center; background-color: rgba(100, 0, 62, 0.08);}
h2{margin: 0px;box-shadow:3px 3px 5px 6px #ccc; }
#btn-box{  }
.btn{font-size:110%; margin:0.3em 0.5em 0.05em 0.5em;padding: 0px; 
    color: rgba(69, 5, 80, 0.97);font-weight: bolder;}
.quiz-section{font-size: 130%; margin-bottom: 1em; padding: 0.2em;} /*index and question gap*/
#userWriteArea{font-size:100%;background-color:#dbe6f5; 
    font-weight:bolder;box-shadow:3px 3px 5px 6px #ccc;
    margin-bottom: 0.5em; margin-top: 0.5em;
}
footer{font-size: 75%;box-shadow:3px 3px 5px 6px #ccc;
    margin-top: 2em; /*position: fixed;*/ /*bottom: .1em; right: 10%; left: 10%;*/
}
/*    </style>*/