body {
    text-align: left;
}
h1{font-size: 130%;}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 0px;
}

th,
h1 {
    text-align: left;
}

th{
    /*background-color: white; color: grey;*/
    
}

table {
    border-spacing: 5px;
}



/*#heading {
    background-color: yellowgreen;
}

#todo {
    background-color: aqua;
}*/

.doer,
.verb,
.obj {
    border: 3px solid white;
    display: inline-block;
    font-size: 20px; 
}

.doer:hover, .verb:hover, .obj:hover{
    /*font-size: 90%;*/
    background-color: yellow;
}


.erase {
    border: 4px solid #000000;
    display: inline-block;
    font-size: 20px; 
    color: white;
    background-color: red;
}

#eraseAlign{
    text-align: center;
}

.txtdisplay {
    width: 20em;
}

#sandhibtn {
    border: 3px solid red;
}
.red{color: red;}
.green{color: green;}
.blue{color: blue;}

#unsandhi,
#sasentence
{
    font-family: monospace, monospace;
    font-weight: bolder;
}


.swap{
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #a04caf;
  border: none;
  border-radius: 15px;
  /*box-shadow: 0 9px #999;*/
}

.swap:hover {background-color: #3e8e41}

.swap:active {
  background-color: #3e8e41;
 /* box-shadow: 0 5px #666;*/
  transform: translateY(4px);
}

#heading{font-size: 21px;}