body {
    text-align: left;
}
h1{font-size: 130%;}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 0px;
}

th,
h1 {
    text-align: left;
}

th{
    /*background-color: white; color: grey;*/
    
}

table {
    border-spacing: 5px;
}



/*#heading {
    background-color: yellowgreen;
}

#todo {
    background-color: aqua;
}*/

.doer,
.verb,
.obj {
    border: 3px solid white;
}

.doer:hover, .verb:hover, .obj:hover{
    /*font-size: 90%;*/
    background-color: yellow;
}


.erase {
    border: 3px solid green;
}

.txtdisplay {
    width: 20em;
}

#sandhibtn {
    border: 3px solid red;
}
.red{color: red;}
.green{color: green;}
.blue{color: blue;}