 h1{font-family:serif;}
        header{border: 2px solid #363434; 
            text-align: center; background-color: burlywood;}
        body{ font-family: sans-serif; font-size: 18px;
            margin: 0px; padding: 0px;
            border: 10px solid grey; 
            text-align: center;}
        p{text-align: left; padding: 10px;
        border: 2px solid #363434;}
        .example{font-weight: 600; color: blue; }
        .highlight{background-color: yellow;}
        .note{font-weight: 500; color: blueviolet; border-radius: 16px; background-color: #fde9e1;}