
		body{ text-align: center;
			width: 520px; height: 750px;
			/*border: 2px solid red;*/
			display: block;
			font-size:18px;
			background-color: #ffffff;
		}
		#topic{ font-size:100%;
			border: 2px solid black; border-radius: 20px; 
			background-color: #ffffff; color: black;
            padding: 5px;
            margin-top: 10px;
		}
		#ui{
			background-color:#f5deb3; text-align:left; margin-left: 0%; margin-right: auto;
			background-color: #fff8f8;
			color: black;
		}
		.txt{color: #000000; }
		#opt_group{ 
			text-align:left; margin-left:1%;
			background-color: #ffffff;
			color:#000000;
		}
		#absent_days{
			background-color: #ffffff;
			color: #000000;
		}
		#letter{text-align: left; background-color:white;}
		footer{
			font-size: 85%;
			border: 2px solid black; border-radius: 20px; background-color: #433e3e;
			color: white;
		}
	