*{
   
}

body{
    color: #bc0553;
    background-color: #eeffee;
    font-family: sans-serif;
}

.header{    
    border-radius: 16px;
    padding: 10px;    
}
h1.devnag{   
    background-color: #fff3e6;    
    padding: 10px; 
    color: crimson;     
}

p.trans{
    background-color: #b9daff;  
}
p.example{
    background-color: #fdeeff;
}

p.question{
    background-color: yellow;
}