body{
    color: #000000;
    background-color: #eeffee;
    font-family: sans-serif;
    border: 10px red double;
    border-radius: 16px;
    padding: 10px;
    font-size: 22px;
}

.header{    
    border-radius: 16px;
    padding: 10px;    
}
h1.devnag{ 
    background-color: #fff3e6;    
    padding: 10px; 
    color: crimson; 
    border-width:8px;  
    border-style:solid;
    border-radius: 16px;
    border-color: brown;
    box-shadow:10px 10px 10px grey;
}

i{font-style:normal}

p.trans,p.example,p.question{
    padding: 10px;
    border-width:4px;  
    border-style:solid;
    padding: 10px;
    box-shadow:1px 10px 10px grey; 
}

p.trans{
    background-color: #cee5ff;
    border-color: #1400ff;
    
    
}
p.example{
    background-color: #fdeeff;
    border-color: #f81a1a;
}

p.question{
    background-color: #ffffb6;
    border-color: #1e2103;
    border-radius: 16px;
}