body{font-size: 20px; background-color: #ffffff; border: 1px solid green; padding: 25px;
            border-radius: 16px; /*text-align: center;*/box-shadow: 10px 10px 5px grey;
        }
        /*p{background-color: #efebeb; padding: 10px; border: 1px solid black;border-radius: 16px;
            box-shadow: 10px 10px 5px grey;
        }*/
         p.whitebox{background-color: #efebeb; padding: 10px; border: 1px solid black;border-radius: 16px;
            box-shadow: 10px 10px 5px grey;
        }
        .q{position: relative;
            font-style: italic; font-family: serif; font-weight: bolder;border-radius: 16px;
        border: 1px solid red; padding: 10px; margin: 10px; background-color: #8bffff;
            box-shadow: 10px 10px 5px grey; text-align: left;
        }
        .img{ }
        .key{color: red; background-color: white; font-weight: bolder;}
        .tt{color: green; background-color: azure; font-weight: bolder; font-style: italic;}

.combodiv{
    background-color: #efebeb; padding: 10px; border: 1px solid black;border-radius: 16px;
            box-shadow: 10px 10px 5px grey;
}

.code{
    font-weight: bolder;
    background-color: #f2fff3;
    border-width:5px;  
    border-style:inset;
    padding: 1px;
}

.quiz{
    border-width:5px;  
    border-style:inset;
    padding: 10px;
    background-color: #fad0c1;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  flex-wrap: wrap;
    /* flex-flow: row wrap; *//*The flex-flow property is a shorthand property for setting both the flex-direction and flex-wrap properties.*/
   /* justify-content: center;*/
   /* justify-content: flex-end;*/
   justify-content: space-around;
   
    align-items: stretch;
    align-items: center;
    /*line-height: 25px;*/
  /*font-size: 20px;*/
}

.flex-container > div {
  
  width: 200px; height: 420px;
  margin-top: 5px;
   /*text-align: center;  */
  /*text-align: center;*/
  /*line-height: 75px;*/
  /*font-size: 30px;*/
}