body{font-size: 20px; background-color: #ffffff; border: 1px solid green; padding: 25px;
            border-radius: 16px; /*text-align: center;*/box-shadow: 10px 10px 5px grey;
        }
        /*p{background-color: #efebeb; padding: 10px; border: 1px solid black;border-radius: 16px;
            box-shadow: 10px 10px 5px grey;
        }*/
         p.whitebox{background-color: #efebeb; padding: 10px; border: 1px solid black;border-radius: 16px;
            box-shadow: 10px 10px 5px grey;
        }
        .q{position: relative;
            font-style: italic; font-family: serif; font-weight: bolder;border-radius: 16px;
        border: 1px solid red; padding: 10px; margin: 10px; background-color: #8bffff;
            box-shadow: 10px 10px 5px grey; text-align: left;
        }
        .img{ margin-left: 300px;}
        .key{color: red; background-color: white; font-weight: bolder;}
        .val{color: green; background-color: azure; font-weight: bolder;}

.combodiv{
    background-color: #efebeb; padding: 10px; border: 1px solid black;border-radius: 16px;
            box-shadow: 10px 10px 5px grey;
}

.code{
    background-color: chartreuse;
    border-width:5px;  
    border-style:inset;
    padding: 1px;
}

.quiz{
    border-width:5px;  
    border-style:inset;
    padding: 10px;
    background-color: #fad0c1;
}