 p.example a.lts {background-color:yellow;}

a.lts{
    color: green; 
}

p.but{
    background-color:  #ffddff;
    border-width:0px;  
    border-style:groove;
    box-shadow:2px 2px 10px black; 
}
