 p.example a.lts {background-color:yellow;}

a.lts{
    color: green; 
    padding: 1px;
    margin: 2px;
    background-color:#ffffaf;
    box-shadow:1px 1px 10px grey;
    border-radius: 8px;
}

p.but{
    background-color:  #ffddff;
    border-width:0px;  
    border-style:groove;
    box-shadow:2px 2px 10px black; 
}

/*.lts{font-size:200%;}*/
p.lts{font-size:200%;}

p a {background-color:lime;}

p a {font-style:italic}

div.zoo p.plant {border: 3px solid red}

/*p{ background-color: cyan;}*/

 div  p{ background-color: cyan;}

p.plant{ background-color: green;}
p.animal{  color: red;}


p.example{
    background-color: #d2ffd2; 
    border-radius: 16px;
    border-color: #fa81fa;
    border-style:inset;
    padding: 4px;
    box-shadow: 2px 2px;
}

.ltt{
   font-family:  monospace,monospace; 
}

b{font-family: monospace,monospace};