footer{
    text-align: center;
    color: #93e6ff;
    border: 3px solid #00ff89;
    border-radius: 30px; 
    box-shadow:2px 5px 5px 5px grey; 
    background-color: #363b39;
    padding: 2%;
}


    body{ 
        width="480px"; height="680px";
        /*border: 1px solid red;*/
        font-size: 20PX;
    }
    h3{border: 2px solid red; border-radius: 16px;}
    #fixWord{font-size: 170%;}
    /*#mainWord{font-size: 170%;}*/

    .btn {
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        border: 2px solid red; 
        background-color: #ffffff; 
        border-radius: 12px;
        padding: 12px 28px;
        font-size: 16px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .btn:hover {
        background-color: yellow; 
        color: red;
    }
    
    #fixword,#mainWord{
        border: 1px solid red;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 1px;
        background-color: aqua;
    }
footer{
    font-size: 60%;
}