body{font-family: sans-serif; }
        input{font-size:100%;}
		.subjclass, .predclass, .advclass, .objclass {padding:3px}
        .subjclass{color: red; border: 1px solid grey;  background-color: yellow;}
        .predclass{color: blue;border: 1px solid #87b168; background-color: #affcbb;}
 .advclass{color: blue;border: 1px solid #87b168; background-color: #ffa8f8;}
 .objclass{color: blue;border: 1px solid #87b168; background-color: #efd181;}
        div{border: 1px solid black; margin-left: 10px; margin-right: auto;
            text-align: left; display: block; padding:10px; border-radius: 16px;}        
         div{border-radius: 16px;}
        .dice {border-radius: 16px;}
        #First{background-color: yellow;}
        #Second{background-color: #affcbb;}        
        #Changeboth{background-color: red;}      