#navigate{ word-spacing:80px; }

body{text-align: center; background-color: #ffffff;}

input.ub {width:15em;font-size:1em;border:3px solid white;}
input.cb {width:12em;font-size:1em;border:3px solid green;}