@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular&subset=latin);
@font-face {font-family: 'Arial Black';font-weight:900;font-style:normal;src: url("XaraWDGeneratedHTMLfont1.woff") format("woff"), url("XaraWDEmbeddedHTMLfont1.eot?") format("embedded-opentype"), local('Arial Black'), local('ArialBlack');}
